body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #444;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin: 0 5px;
}

button:hover {
    background-color: #007f67;
}

.carrinho {
    margin-top: 20px;
}

.carrinho h2 {
    color: #444;
}

.carrinho ul {
    list-style-type: none;
    padding: 0;
}

.carrinho li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.carrinho p {
    font-weight: bold;
    margin-top: 10px;
}